<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div> <a class="nav-link text-aqua" style=" text-align: left; text-decoration: none; font-family:Verdana, Geneva, Tahoma, sans-serif;" href="/">Home    </a></div>
            <div ><a class="nav-link text-aqua" style=" text-align: left; text-decoration: none; font-family:Verdana, Geneva, Tahoma, sans-serif;" href="/login">Login   </a> </div>
            <div><a class="nav-link text-aqua" style=" text-align: left; text-decoration: none; font-family:Verdana, Geneva, Tahoma, sans-serif;" href="/register"> Register</a></div>
        </div>
    </div>
</nav>

<header style="background: url(); background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center text-white">
                    <h1 style="color: white; font-family: 'Courier New', Courier, monospace; background-img:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.goodcore.co.uk%2Fblog%2Fcoding-vs-programming%2F&psig=AOvVaw3krshrDJdWCYomJKAWrn1G&ust=1615273749400000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKCOoeiRoO8CFQAAAAAdAAAAABAD);">Cultivo</h1>
               </div>
            </div>
        </div>
    </div>
</header>